.dashboard {
  height: 100vh;
}

.header {
  display: flex;
  font-size: 16px;
  justify-content: space-between;
  color: var(--primary-color);
  background-color: var(--tertiary-color);
  height: 50px;
  width: 100%;
  padding: 0 5%;
  align-items: center;
  position: fixed;
}

.navUL {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 200px;
}

.link {
  text-decoration: none;
  color: var(--primary-color);
}

.logo {
  font-size: 20px;
  color: var(--tertiary-color);
  padding: 6px 10px;
  background-color: var(--primary-color);
  border-radius: 10px;
  cursor: pointer;
}

.themeButton {
  display: inline-block;
  text-align: center;
  width: 100px;
  height: 20px;
  border: 1px var(--primary-color) solid;
  border-radius: 25px;
  cursor: pointer;
}

.themeButton:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}