.main {
  padding: 60px;
  background-color: var(--tertiary-color);
  margin-left: 260px;
  /* position: fixed; */
  top: 80px;
  height: 100%;
  left: 0;
  right: 0;
  overflow: auto;
}

.languageNav {
  font-size: 16px;
  color: var(--primary-color);
  background-color: var(--secondary-color);
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: fixed;
  top: 50px;
  overflow-y: auto;
}

.languageNav::-webkit-scrollbar {
  display: none;
}

.asideAndMain {
  top: 80px;
  position: fixed;
  height: calc(100vh - 80px);
  left: 0;
  right: 0;
}

.aside {
  padding: 10px;
  background-color: var(--auxiliary-color);
  color: var(--primary-color);
  width: 260px;
  position: absolute;
  height: 100%;
  left: 0;
  right: 0;
  overflow: auto;
  z-index: 1;
}

.title {
  margin: 20px 20px 10px;
}

.languageUL {
  display: flex;
}

.addArticle {
  color: var(--secondary-color);
  padding: 2px 4px;
  margin-bottom: 10px;
  min-width: 60px;
  height: 20px;
  background-color: var(--primary-color);
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.addArticle:hover {
  outline-offset: 3px;
  outline: 2px solid var(--primary-color);
}

.addArticle:focus {
  outline-offset: 3px;
  outline: 2px solid var(--primary-color);
}

.languageList {
  list-style-type: none;
}

.LanguageLink {
  display: inline-block;
  padding: 0 15px;
  color: var(--primary-color);
  text-decoration: none;
  text-wrap: nowrap;
}

.activeLanguageLink {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
}

.languageList a:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.articleULTitle {
  margin-bottom: 10px;
}

.articleUL {
  list-style-type: none;
}

.articleList {
  display: flex;
  align-items: center;
}

.articleLink {
  display: block;
  padding: 5px;
  padding-left: 40px;
  color: var(--primary-color);
  text-decoration: none;
  flex: 1;
}

.articleList a:hover {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.activeArticleLink {
  color: var(--tertiary-color);
  background-color: var(--primary-color);
  cursor: pointer;
}

.articleDeleteButton {
  cursor: pointer;
  text-align: center;
  margin: 0 10px;
}

.ArticleToggle {
  margin-left: auto;
  display: none;
}

@media screen and (max-width: 768px) {
  .languageNav {
    top: 80px;
  }

  .asideAndMain {
    top: 110px;
    height: calc(100vh - 110px);
  }

  .asideHide {
    display: none;
  }

  .main {
    margin-left: 0;
    height: 100%;
    padding: 10px;
  }

  .ArticleToggle {
    display: block;
  }
}