.tagManager {
  font-size: 16px;
  color: #201c18;
  background-color: #d3bba1;
  width: 100%;
  height: 30px;
  line-height: 30px;
  position: fixed;
  top: 50px;
}

.ul {
  display: flex;
  list-style-type: none;
}

.li {
  padding: 0 10px;
}