.loadingContainer {
  width: 100%;
}

.loadingItem {
  width: 80%; 
  height: 20px;
  margin-left: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #ffefe2;
  animation: pulse ease 3s infinite;  
}

@keyframes pulse {
  0% {background-color: #ffefe2;}
  50% {background-color: #d3bba1;}
  100% {background-color: #ffefe2;}
}