.homePage {
  width: 100%;
  display: flex;
  background-color: #ffefe2;
  height: 100vh;
  color: #53493f;
  overflow: hidden;
}

.container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.wrapper {
  padding: 40px;
  background-color: #ffefe2;
  border: 3px solid #d3bba1;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 18px;
}

.paragraph {
  display: block;
  padding: 20px 0;
  width: fit-content;
  font-style: italic;
  margin-left: auto;
  margin-right: 20px;
}

.button {
  display: block;
  color: #ffefe2;
  text-decoration: none;
  padding: 8px 12px;
  margin: 10px auto;
  width: fit-content;
  background-color: #53493f;
  border-radius: 6px;
  cursor: pointer;
}

.loginContainer {
  position: fixed;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100Vh;
  background-color: #d3bba1;
  transition: transform 1s ease, opacity 0.5s ease; 
  transform: translateX(0); 
  opacity: 1; 
}

.loginContainer.loginContainerHidden {
  transform: translateX(400px); 
  opacity: 0; 
  pointer-events: none;
}

.alertContainer {
  width: 100%;
  height: 30px;
}

.alert {
  color: crimson;
  margin-bottom: 10px;
  width: fit-content;
  background-color: transparent;
}

.inputCriteria {
  border-radius: 10px;
  color: var(--primary-color);
  height: 20px;
  margin-bottom: 10px;
}

.form {
  width: 300px;
}

.label {
  display: block;
  margin-bottom: 10px;
}

.input {
  border: none;
  border-radius: 4px;
  height: 30px;
  width: 100%;
  margin-bottom: 20px;
  outline: none;
  padding: 10px;
}

.input:focus {
  outline:outset;
  outline-offset: 3px;
  outline: 3px solid white;
}

.button {
  font-size: 16px;
  color: #ffefe2;
  width: 110px;
  height: 40px;
  background-color: #53493f;
  border-radius: 6px;
  cursor: pointer;
  border: none;
  transition: all 0.5s ease;
}

.button:hover {
  transform: scale(1.1);
}