.homePage {
  display: flex;
  flex-direction: column;
  background-color: #ffefe2;
  height: 100vh;
  color: #53493f;
}

.container {
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.wrapper {
  padding: 40px;
  background-color: #ffefe2;
  border: 3px solid #d3bba1;
  border-radius: 10px;
  width: fit-content;
  height: fit-content;
  text-align: center;
}

.title {
  font-size: 24px;
  margin-bottom: 20px;
}

.subTitle {
  font-size: 18px;
}

.paragraph {
  display: block;
  padding: 20px 0;
  width: fit-content;
  font-style: italic;
  margin-left: auto;
  margin-right: 20px;
}

.link {
  display: block;
  color: #ffefe2;
  text-decoration: none;
  padding: 8px 12px;
  margin: 10px auto;
  width: fit-content;
  background-color: #53493f;
  border-radius: 6px;
  cursor: pointer;
}