.loading {
  color: var(--primary-color);
}

.title {
  color: var(--primary-color);
  text-align: left;
  margin: 20px 0;
  font-size: 40px;
}

.paragraph {
  color: var(--primary-color);
  text-align: left;
  margin: 10px 0;
  font-size: 18px;
}

.EditToolUL {
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 10px;
  width: fit-content;
  transition: all 1s ease;
  background-color: var(--secondary-color);
}

.EditToolUL.EditToolULHidden {
  background-color: transparent;
}

.EditToolList {
  list-style-type: none;
  margin-right: 20px;
  transition: transform 0.5s ease, opacity 0.5s ease;
  transform: translateX(0);
  opacity: 1;
  cursor: pointer;
}

.EditToolList:hover {
  text-decoration: underline;
}

.EditToolList.EditToolListHidden {
  transform: translateX(-20px);
  opacity: 0;
  pointer-events: none;
}

.EditToolListLock {
  font-size: 30px;
  transform: translate(2px, 2px);
}

.editPanelContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 1;
}

.editPanel {
  width: 50%;
  max-height: 80vh;
  overflow: auto;
  background-color: var(--primary-color);
  z-index: 2;
  border-radius: 20px;
}

.editPanelForm {
  width: 80%;
  margin: 10px auto;
}

.label {
  color: var(--secondary-color);
  display: inline-block;
  margin-bottom: 10px;
}

.editPanelTitle {
  font-size: 20px;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.editPanelTitle:focus {
  outline-offset: 3px;
  outline: 3px solid var(--tertiary-color);
}

.editPanelContent {
  font-size: 20px;
  width: 100%;
  height: 300px;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 10px;
  resize: none;
}

.editPanelContent:focus {
  outline-offset: 3px;
  outline: 3px solid var(--tertiary-color);
}

.alert {
  color: var(--secondary-color);
  height: 20px;
  margin-bottom: 10px;
}


.buttonGroup {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
}

.cancelButton {
  color: var(--primary-color);
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: var(--secondary-color);
}

.submitButton {
  color: var(--primary-color);
  width: 60px;
  height: 30px;
  border: none;
  border-radius: 10px;
  background: var(--tertiary-color);
}